<!-- Formulario -->
            <form action="javascript:enviarMensaje()">
                <div class="form-group">
                    <label for="message"><b>Mensaje</b></label>
                    <input id="message" class="form-control" type="text" name="message">
                </div>
                <button class="btn btn-success mt-3 mb-5" disabled id="buttonMensaje" type="submit">Enviar</button>
            </form>
            <!-- Final Formulario -->