<!-- Formulario -->
            <h1 style="color:blue;">Chat</h1>
            <br>
            <form>
                <div class="form-group">
                    <label for="email"><b>Email</b></label>
                    <input id="email" class="form-control" type="email" name="email" onkeyup="habilitarButton()">
                </div>
            </form>
            <!-- Final Formulario -->