<div class="container mt-3">
    <div class="jumbotron">
        {{> formulario}}
        {{> historico}}
    </div>
</div>
<div class="container mt-3">
    <div class="jumbotron">
        {{> formEmail}}
        <div class="container">
            <div class="row">
                  <div id="historial"></div>  
            </div>
        </div>
        
        {{> formMensaje}}
    </div>
</div>
